* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}


.manrope {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 500, 700;
  font-style: normal;
}


.urbanist {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-weight: 400, 600;
  font-style: normal;
}

body {
  display: grid;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  background-color: #213356;
  font-family: "Urbanist", serif;
}

:root {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #F9FAF5;
}

a:hover {
  color: #92fe65;
  text-decoration: underline;
}

a:active {
  color: #92fe65;
  text-decoration: underline;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Urbanist", serif;
}

h1 {
  font-family: "Urbanist", serif;
  font-size: 42px;
  font-weight: 600px;
}

h2 {
  font-family: "Urbanist", serif;
  font-size: 32px;
  font-weight: 600;
}

/* Add style to buttons */
button {
  padding: 0.5rem;
  font-size: 17px;
  background-color: #92fe65;
  border-radius: 4px;
  border-color: transparent;
}

img {
  border-radius: 4px;
}

/* Top navigation */
.topnav {
  overflow: hidden;
  position: relative;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: flex;
  font-size: 17px;
  color: #F9FAF5;
  padding-top: 2em;
  padding-right: 1em;
  padding-bottom: 0.6em;
  padding-left: 0.5em;
  gap: 1em;
  text-align: left;
  justify-content: left;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #87ccf4;
  text-decoration: underline 2px solid;
  text-underline-offset: 1em;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  color: #87ccf4;
  text-decoration: underline 2px solid;
  text-underline-offset: 1em;
}

ul {
  flex-direction: row;
  justify-content: space-evenly;
}

/* Video styling */
.video-overlay-text {
  max-width: 960px;
  text-align: left;
  margin: 2rem;
}

.video-overlay-text h3 {
  font-size: 30px;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.video-overlay-text h1 {
  font-size: 60px;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.video-container:before {
  content: "";
  width: 100%;
  height: 75%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(rgba(26, 0, 106, 0.6), rgba(0, 255, 13, 0.4));
  min-height: 100%;
}

.video-container {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-height: 80vh;
}

/* Portfolio styling */
.portfolio {
  background-color: #213356;
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  margin: 1rem;
  z-index: 2;
}

.portfolio h2 {
  color: #fff;
  margin: 2rem;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: -1;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  right: 0;
}

/* Contact form styling */
.form-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem;
}

form {
  object-fit: cover;
  width: 100%;
  height: auto;
  border: 1px solid #e8e8fb;
  border-radius: 4px;
  background: white;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

fieldset {
  border: none;
  padding: 0;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

fieldset h2 {
  text-transform: uppercase;
  font-size: 16px;
  color: #213356;
  margin: 1em;
}

fieldset h3 {
  text-transform: uppercase;
  font-size: 14px;
  color: #213356;
  margin-top: 20px;
  margin-left: 10px;
}

label {
  display: flex;
  border-bottom: 1px solid #f0f5fa;
  align-items: center;
  padding: 10px 0;
}

label:last-child {
  border-bottom: none;
}

span {
  width: 30%;
  text-align: left;
  margin-right: 0px;
  color: #213356;
}

input:not([type=radio]) {
  width: 100%;
  border: none;
  outline: none;
  appearance: none;
  color: #213356;
}

input[type=radio] {
  appearance: none;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  margin-bottom: 10px;
  margin-right: 7px;
  border: 2px solid #213356;
  transition: 0.2s all linear;
  position: relative;
  top: 4px;
}

input:checked[type=radio] {
  background-color: #213356;
}

textarea {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  outline: 1px solid #aab7c4;
  appearance: none;
}

select {
  width: 100%;
  padding: 10px 0;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  color: #aab7c4;
  outline: none;
}

button {
  background-color: #2faffb;
  color: #fff;
  border: none;
  appearance: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}


@media (max-width: 768px) {
  .logo {
    max-width: 250px;
  }

  /* Hide the links inside the navigation menu (except for name) */
  .topnav #myLinks {
    display: none;
  }

  /* Style the navigation menu mobil*/
  .topnav {
    overflow: hidden;
    color: #F9FAF5;
    position: relative;
    background-color: #213356;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    color: #F9FAF5;
    position: absolute;
    right: 1rem;
    top: 0;
    text-decoration: none;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .video-overlay-text h3 {
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 2px black;
  }

  .video-overlay-text h1 {
    font-size: 42px;
    color: #fff;
    text-shadow: 1px 1px 2px black;
  }

  /* portfolio */
  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem;
  }

  /* contact form */
  .form-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

}

@media screen and (min-width: 769px) and (max-width: 960px) {
  .topnav a.icon {
    display: none;
  }

  ul {
    flex-direction: row;
    justify-content: space-evenly;
  }

  /* portfolio */
  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    margin: 1rem;
  }

}

@media (min-width: 961px) {
  .topnav a.icon {
    display: none;
  }

}